*{
    margin: 0px;
    padding: 0px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content:left;
    align-items: center;
}
nav ul>li{
    list-style: none;
    padding: 20px;

}
nav ul>li>a{
    text-decoration: none;
    color: rgb(43, 42, 42);
}
nav ul>li>a:hover{
    color: blue;
    text-decoration: underline;
}
.btn-primary{
    background-color: rgb(127, 46, 214);
    padding: 10px 20px;
}
